body {
  background-color: powderblue;
  text-color: black;

}
H3 {
  color:black;
}

form {
  font-size:20;
 allignment:centre-allign;
}

H2{

color:#000080;
}
H4{

color:#000080;
}
div{
  align-self: center;
}